@charset "UTF-8";

#freeBoard {
	color: #ff3502!important; 
	border-bottom: 4px solid #ff3502;	
}

.my_contents {
	width: 920px;
	margin: 20px auto;
	margin-bottom: 10px;
	border: 1px solid #e1f0ff;
	border-radius: 5px;
	padding: 20px;
}

.btn_read_page {
	margin: 0 10px;
	background-color: #ffffff;
	border: 1px solid #ff3502; 
}

.btn_read_page:hover {
	background-color: #ff3502;
	color: #ffffff;
}

.btn_disable {
	margin: 0 10px;
	background-color: #ffffff;
	border: none;
}

.btn_list {
	background-color: #e1f0ff;
	border: 1px solid #e1f0ff; 
}

.btn_list:hover {
	background-color: #0061c1;
	color: #ffffff;
}

.btn_modify {
	margin-left: 244px;
}

.btn_remove {
	margin-left: 10px;
}

.row_register {
	width: 878px;
	padding: 0;
	margin: 10px auto;
}

.col_label {
	width: 85px;
	margin-right: 20px;
	text-align: right;
}

.label_register {
	margin: 0;
	line-height: 38px;
}

.input_title {
	width: 700px;
	height: 30px;
	margin: 4px 10px;
	border-radius: 7px;
	border: 1px solid #929fad;
	padding-left: 5px;
}

.input_writer {
	width: 200px;
	height: 30px;
	margin: 4px 10px;
	border-radius: 7px;
	border: 1px solid #929fad;
	padding-left: 5px;
}

.input_content {
	resize: none;
	width: 700px;
	height: 300px;
	margin: 4px 10px;
	border-radius: 7px;
	border: 1px solid #929fad;
	padding-left: 5px;	
}

.col_reply {
	height: 72px;
	line-height: 72px;
}

.my_page_link {
	color: #000000;
	border: none;	
}

.my_page_link:hover, .my_page_item.active .my_page_link {
	border-radius: 7px;
	background-color: #ff3502;
	color: #ffffff;
	opacity: 0.8;
}